encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1vw6p3d43umm980ctmvwuk3vuhepspfplu8sk36qrc2u2e5nf6ewqyhg42z"

[diff]
    command = "git"
    args = [
        "diff", 
        "--no-index", 
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
    pager = "bat --paging=never --language=diff"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
