encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1vw6p3d43umm980ctmvwuk3vuhepspfplu8sk36qrc2u2e5nf6ewqyhg42z"

[diff]
    command = "git"
    args = [
        "diff", 
        "--no-index", 
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
    pager = "bat --paging=never --language=diff"
    exclude = ["scripts"]

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]

[data.email]
    default = "2490224285@qq.com"
    school = "yuwenhao@stu.pku.edu.cn"

[data.pcloud]
{{- if or (eq .chezmoi.hostname "homeDesktop") (eq .chezmoi.hostname "rogLaptop") (eq .chezmoi.hostname "t460Laptop") (eq .chezmoi.hostname "n150MiniDesktop") }}
    client = "pcloud-drive"
{{- else }}
    client = "pcloudcc"
{{- end }}

[data.samba]
{{- if contains "Desktop" .chezmoi.hostname }}
    enable = true
{{- else }}
    enable = false
{{- end }}

[data.wayvnc]
{{- if contains "Desktop" .chezmoi.hostname }}
    enable = false
{{- else }}
    enable = false
{{- end }}
