source /usr/share/zsh/share/antigen.zsh

antigen use oh-my-zsh

antigen bundle git
antigen bundle sudo

antigen bundle jeffreytse/zsh-vi-mode
export ZVM_SYSTEM_CLIPBOARD_ENABLED=true
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-syntax-highlighting

antigen theme consolemaverick/zsh2000
export ZSH_2000_DISABLE_RVM='true'

antigen apply

function y() {
    local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
    yazi "$@" --cwd-file="$tmp"
    if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
    	builtin cd -- "$cwd"
    fi
    rm -f -- "$tmp"
}
alias ll="ls -al"
alias n="nvim"
alias c="wl-copy"
alias d="chezmoi"
alias dc="chezmoi cd"
alias dr="y {{ .chezmoi.homeDir }}/.config/reference"
alias dp="y {{ .chezmoi.config.sourceDir }}/pkgbuilds"
alias eg="aichat -e"
alias cg="aichat -c"
alias tg="aichat --role translate"
alias pg="aichat --role %create-prompt%"
alias g="git"
alias vm="nvim {{ .chezmoi.config.sourceDir }}/manual"
