#!/bin/sh

{{- if .wayvnc.enable }}
wayvnc_status=$(systemctl --user is-active wayvnc)
if [ "$wayvnc_status" = "inactive" ]; then
    systemctl --user enable --now wayvnc
fi
{{- else }}
if [ -f "$HOME/.config/systemd/user/wayvnc.service" ]; then
    systemctl --user disable --now wayvnc
fi
{{- end }} 
