#!/bin/sh
{{- $userConfig := includeTemplate "user-config.toml" . | fromToml }}

{{- if $userConfig.features.wayvnc }}
if ! systemctl --user is-active --quiet wayvnc; then
    systemctl --user enable --now wayvnc
fi
{{- else }}
systemctl --user disable --now wayvnc 2>/dev/null || true
{{- end }}
