#!/bin/sh

{{- if .wayvnc.enable }}
if [ ! -f "${HOME}/.config/wayvnc/tls_key.pem" ]; then
    mkdir -p "${HOME}/.config/wayvnc/"
    echo "Generating new TLS/SSL key for wayvnc..."
    openssl req -x509 -newkey ec -pkeyopt ec_paramgen_curve:secp384r1 -sha384 \
        -days 3650 -nodes -keyout "${HOME}/.config/wayvnc/tls_key.pem" -out "${HOME}/.config/wayvnc/tls_cert.pem" \
        -subj /CN=$(hostnamectl hostname)
    echo "sha1 of cert is: $(openssl x509 -in ${HOME}/.config/wayvnc/tls_cert.pem -fingerprint -sha1 -noout)"
fi
{{- else }}
:
{{- end }} 
