/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

@import "./rose-pine-moon.css";
* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 14px;
	min-height: 20px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    transition: none;
    /*
      color: #f8f8f2;
    background: #282a36;
      */
    color: @text;
    background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0;
	border-radius: 0px;
	background: #282a36;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#mpd {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #282a36;
}

#network {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: @gold;
}

#backlight {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: @rose;
}

#pulseaudio {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: @pine;
}

#battery {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: @foam;
}

#temperature {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: @iris;
}

#cpu {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: #f1fa8c;
}

#memory {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: #ff6e67;
}

#clock {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#tray {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 0px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: @gold;
}
