# BEGIN_KITTY_THEME
# Gruvbox Dark
include current-theme.conf
# END_KITTY_THEME
#
# no waring when closing window
confirm_os_window_close 0

font_family JetBrainsMonoNL Nerd Font
{{ if eq .hostname "homeDesktop" -}}
font_size 14
{{ else if eq .hostname "n150MiniDesktop" -}}
font_size 12
{{ else if eq .hostname "rogLaptop" -}}
font_size 16
{{ else -}}
font_size 12
{{- end }}
