pkgbase = waybar-ywh-git
	pkgdesc = Highly customizable Wayland bar, with YWh0301 Hyprland workspace rename fix
	pkgver = 0.15.0.r979.g6d294c01
	pkgrel = 1
	url = https://github.com/YWh0301/Waybar
	arch = x86_64
	license = MIT
	makedepends = catch2
	makedepends = cmake
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = atkmm
	depends = cairomm
	depends = fmt
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = gpsd
	depends = gtk-layer-shell
	depends = gtk3
	depends = gtkmm3
	depends = jack
	depends = jsoncpp
	depends = libdbusmenu-gtk3
	depends = libevdev
	depends = libgcc
	depends = libinput
	depends = libmpdclient
	depends = libnl
	depends = libpipewire
	depends = libpulse
	depends = libsigc++
	depends = libstdc++
	depends = libwireplumber
	depends = libxkbcommon
	depends = playerctl
	depends = sndio
	depends = spdlog
	depends = systemd-libs
	depends = upower
	depends = wayland
	optdepends = otf-font-awesome: Icons in the default configuration
	provides = waybar
	conflicts = waybar
	backup = etc/xdg/waybar/config.jsonc
	backup = etc/xdg/waybar/style.css
	source = Waybar::git+https://github.com/YWh0301/Waybar.git#branch=hyprland-workspacerename
	b2sums = SKIP

pkgname = waybar-ywh-git
	depends = atkmm
	depends = cairomm
	depends = fmt
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = gpsd
	depends = gtk-layer-shell
	depends = gtk3
	depends = gtkmm3
	depends = jack
	depends = jsoncpp
	depends = libdbusmenu-gtk3
	depends = libevdev
	depends = libgcc
	depends = libinput
	depends = libmpdclient
	depends = libnl
	depends = libpipewire
	depends = libpulse
	depends = libsigc++
	depends = libstdc++
	depends = libwireplumber
	depends = libxkbcommon
	depends = playerctl
	depends = sndio
	depends = spdlog
	depends = systemd-libs
	depends = upower
	depends = wayland
	depends = libatkmm-1.6.so
	depends = libcairomm-1.0.so
	depends = libgtk-3.so
	depends = libjack.so
	depends = libjsoncpp.so
	depends = libpipewire-0.3.so
	depends = libsndio.so
	depends = libspdlog.so
	depends = libudev.so
	depends = libupower-glib.so
