{{- $userConfig := includeTemplate "user-config.toml" . | fromToml -}}
use_relative_paths=true
address=0.0.0.0
enable_auth=true
port={{ $userConfig.wayvnc.port }}
username={{ $userConfig.wayvnc.username }}
password={{ $userConfig.wayvnc.password }}
private_key_file=tls_key.pem
certificate_file=tls_cert.pem
