{{- $encryptedFile := joinPath .chezmoi.sourceDir "dot_config" "wayvnc" "encrypted_wayvnc.chezmoidata.toml.age" -}}
{{- $configData := $encryptedFile | include | decrypt | fromToml -}}

use_relative_paths=true
address=0.0.0.0
enable_auth=true
port={{ $configData.port }}
username={{ $configData.username }}
password={{ $configData.password }}
private_key_file=tls_key.pem
certificate_file=tls_cert.pem
